
<div class="information">
    <p>&copy; 2026 Travel Easy. All rights reserved.</p>
    <p>#38 Lillavois, Bon repos</p>
    <p>Port-au-Prince, Haiti</p>
</div>
<div class="social">

    <a href="https://web.facebook.com/schnaider.jeanlouis.5" target="blank"><img src="../images/facebook.svg"
            alt="Facebook Logo Icon" height="48" width="48"></a>

    <a href="https://www.linkedin.com/in/schna%C3%AFder-jean-louis/" target="blank"><img src="../images/linkedin.svg"
            alt="LinkedIn Logo Icon" height="48" width="48"></a>

    <a href="https://github.com/schnaider30-programmer" target="blank"><img src="../images/github.svg"
            alt="GitHub Logo Icon" height="48" width="48"></a>

</div>
<div class="student-info">
    <p>WDD330 Final Project</p>
    <p>Schnaider Jean Louis | Haiti</p>
    <p id="last-modified"></p>
</div>